/*Utility Class*/


/*Fonts*/

@font-face {
font-family: 'ChaparralPro-Regular';
src: url('../fonts/ChaparralPro-Regular');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'RINGM';
src: url('../fonts/RINGM.TTF');

}

@font-face {
font-family: 'MorrisRomanAlternate-Black';
src: url('../fonts/MorrisRomanAlternate-Black.ttf');

}


/*general rules for elements*/

body
{
	font-family: 'ChaparralPro-Regular', helvatica, arial, sans-serif;
	background-color: black;
	
		
}




